<div data-bind="visible: $data.progress() < 101">
  <p></p>
  <p></p>
  <p></p>
</div>
<div data-bind="visible: $data.alert() == 1, text: $data.alertMsg()" class="alert alert-danger alert-dismissible"
     role="alert">
</div>

<div class="progress" data-bind="visible: $data.progress() < 101">
  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"
       data-bind="style: { width: $data.progressPct() }, attr: { 'aria-valuenow': $data.progress() }">
  </div>
</div>
<p></p>
<div id="BarChart"></div>
