<div class="container">
  <div id="chartdiv"></div>

    Change projection:
    <a href="#" onclick="window.map.setProjection('winkel3')">Winkel 3</a> |
    <a href="#" onclick="window.map.setProjection('eckert3')">Eckert 3</a> |
    <a href="#" onclick="window.map.setProjection('eckert5')">Eckert 5</a> |
    <a href="#" onclick="window.map.setProjection('eckert6')">Eckert 6</a> |
    <a href="#" onclick="window.map.setProjection('miller')">Miller</a> |
    <a href="#" onclick="window.map.setProjection('equirectangular')">Equirectangular</a> |
    <a href="#" onclick="window.map.setProjection('mercator')">Mercator</a>

</div>

