<div class="container">
  <!--
  <div class="row">
    <div class="jumbotron">
      <h2>
        Visualization
      </h2>
      <p>
        The chart illustrate the distribution of the classes per year in the TCP data.
      </p>
    </div>
  </div>
  -->
  <!-- LIST REPRESENTATION NAV BAR ROW -->
  <div class="row" data-bind="visible: !allOptionsFalse()">
    <div class="col-xs-12 col-sm-9 col-sm-offset-3">
      <div class="btn-group btn-group-justified " role="group" data-bind="foreach: representation">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-vis-representation"
              data-bind="css: {activate: status}, click: $parent.updateRepresentationStatus($index())">
              <span data-bind="text: type"></span><div data-bind="html: icon"></div>
            </button>
          </div>
      </div>
    </div>
  </div>
  <!-- LIST LEFT VISUALIZATION NAV BAR -->
  <div class="row">
    <div class="col-xs-8 col-sm-3">
      <div class="btn-group-vertical btn-group-justified" data-bind="foreach: visualModel">
        <button class="list-group-item vis-representation"
                data-bind="css: {activate: status}, click: $parent.checkOptions($index())">
          <span data-bind="text: type"></span> <i class="fa fa-arrow-right pull-right"></i>
        </button>
      </div>
    </div>
    <!-- INJECT VISUAL DATA -->
    <div class="col-xs-12 col-sm-9">
        <div class="centered" data-bind="visible: allOptionsFalse()">
          <i class="fa fa-spinner fa-spin fa-5x"></i>
        </div>
      <div data-bind="foreach: visualModel">
        <div data-bind="visible: $data.status">
          <div data-bind="html: template"></div>
        </div>
      </div>
    </div>
  </div>
</div>
