### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml
*.pyc

## Directory-based project format:
.idea/

Information Retrieval/Meta data/Wos Meta/v1/credentials.py
Information Retrieval/Meta data/Wos Meta/v2/credentialsv2.py