<div class="centered">
  <div class="page-header">
    <h2 data-bind="text: $data.title"> </h2>
  </div>
  <h4>
      <b>Interactive Exploration of Consensus in Climate Science</b>
  </h4>
  <P>
    This project was initially started at the Department of Computer and Information Science (IDI) at the Norwegian
    University of Science and Technology (NTNU) during the fall of 2015.The work carried out in this period is considered
    as preliminary work for this master thesis and allowed us to explore ideas and construct a research foundation for
    this thesis.This master thesis was conducted during spring of 2016 and continues where the preliminary work ended.
  </P>
  <p>
    The subject was provided by one of our supervisors, Erwin Marsi. The purpose of the project has been to find out if we
    could, by using state of the art techniques within stance detection, classify documents according to their stance on
    anthropogenic (human-induced) global warming. If successful it will enable us to observe if there has been a
    noticeable change in the general stance on anthropogenic global warming in recent years. The topic at hand is
    human-induced global warming, and the stances we wanted to detect were <i>in favor</i>, <i>against</i> and
    <i>neutral (no stance)</i>.
  </p>
  <p>
    Our field of study is Artificial Intelligence and we have worked specifically on machine learning techniques for the
    past couple of years. Our motivation has been to see if we could apply what we have learned so far to a real problem.
  </p>
  <p>
    Our project consisted of three parts: information retrieval, document classification, and data visualization. We
    present our findings on the information retrieval and cover how we extracted information from papers using web
    crawling methods and how we collected meta data. We will give a summary of our work and research on state of the art
    systems within stance detection and how to use visualization to perform exploration of data. In addition we will
    describe the system we implemented to detect stance in climate scientific literature and how we processed the results
    for interactive presentation.
  </p>
  <p>
    During the preliminary work an interesting task, organized by SemEval, was presented to us. Based on our supervisors'
    suggestion we decided to participate. The goal of the task was to detect stance on different subjects in tweets.
    One of the topics was <i>Climate Change is a Real Concern</i>, which is highly relevant regarding our thesis. Although
    the task utilizes quite different data, the work done on the shared task is considered an important part of the
    development of this master thesis. In addition to providing us with more task specific knowledge, the participation
    gave us the opportunity to experience several aspects of scientific work such as submitting a paper, reviewing and
    presenting our findings.

    We would like to thank our supervisors: Erwin Marsi and Rune Sætre for supervising us throughout the course of this
    project, and our family supporting us all the way through.
  </P>

  <div class="row page-header"></div>
  <div class="col-xs-12 col-md-6 center">
    <div class="jumbotron">
      <h1>Master Thesis</h1>
      <p> Interactive Exploration of Consensus in Climate Science </p>
      <h2><a class="btn btn-vis-representation btn-lg btn-download" role="button"
             href="/#">Download
        <span class="small-download-color">as pdf</span></a>
      </h2>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 center">
    <div class="jumbotron">
      <h1>SemEval</h1>
      <p>IDI@NTNU at SemEval 2016 task 6: Detecting Stance in Tweets Using Shallow Features and GloVe Vectors for Word Representation</p>
      <h2><a class="btn btn-vis-representation btn-lg btn-download" role="button"
             href="https://www.researchgate.net/publication/301637515_IDINTNU_at_SemEval-2016_Task_6_Detecting_Stance_in_Tweets_Using_Shallow_Features_and_GloVe_Vectors_for_Word_Representation">
        Read
        <span class="small-download-color">at ResearchGate</span></a>
      </h2>
    </div>
  </div>
</div>

