<div class="centered">
  <div class="page-header">
    <h2 data-bind="text: $data.title"> </h2>
  </div>
  <h4>
      <b>Interactive Exploration of Consensus in Climate Science</b>
      <i>(abstract) </i>
  </h4>
  <P>
    This project was initially started at the Department of Computer and Information Science (IDI) at NTNU during the fall
    semester of 2015. The work done in the fall of 2015 is considered as preliminary work for this master thesis and
    allowed us to explore ideas and construct a research foundation for this thesis. This master thesis was conducted
    during the spring semester of 2016 and continues where the preliminary work ended.
  </P>
  <p>
    The subject was provided by one of our supervisors, Erwin Marsi. The purpose of the project has been to find out if we
    could, by using state of the art techniques within stance detection, classify documents according to their stance on
    anthropogenic (human-induced) global warming. Achieving this will enable us to gather new data and apply the models we
    have created to observe if there has been a noticeable change in the general stance on anthropogenic global warming in
    recent years. The topic at hand is anthropogenic global warming, and the stances we wanted to detect were; "in favor",
    "against", and "neutral" (no stance).
  </p>
  <p>
    We found this particular task appealing as it included topics like machine learning.
    Our field of study is Artificial Intelligence, and we have worked specifically on machine learning techniques for the
    past couple of years. Our motivation has been to see if we could apply what we have learnt so far to a real problem.
  </p>
  <p>
    Our project consisted of three parts: information retrieval, document classification, and data visualization. We will
    present our findings on the information retrieval and it will cover how we extracted information from papers using web
    crawling methods and how we collected meta data. We will give a summary of our work and research on state of the art
    systems within stance detection and how to use visualization to perform exploration of data. In addition we will
    describe the system we implemented to detect stance in climate scientific literature.
    The system practise a data-driven approach for which performance is measured by empirical data.
  </p>
  <p>
    During our preliminary work an interesting and relevant shared task, organized by SemEval, was presented to us. Based
    on our supervisors suggestion we decided to participate. The goal of the task was to detect stance on different topics
    in tweets. One of the topics were <i>Climate Change is a Real Concern</i>, which is highly interesting regarding our
    thesis. Although the task utilises a quite different data the work done on the shared task is considered as an
    important part of our work on this mater thesis.

    We would like to thank our supervisors: Erwin Marsi and Rune Sætre for supervising us throughout the course of this
    project, and our family supporting us all the way through.
  </P>

  <div class="row page-header"></div>
  <div class="col-xs-12 col-md-6 center">
    <div class="jumbotron">
      <h1>Master Thesis</h1>
      <p> Interactive Exploration of Consensus in Climate Science </p>
      <h2><a class="btn btn-vis-representation btn-lg btn-download" role="button"
             href="/#">Download
        <span class="small-download-color">as pdf</span></a>
      </h2>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 center">
    <div class="jumbotron">
      <h1>SemEval</h1>
      <p>IDI@NTNU at SemEval 2016 task 6: Detecting Stance in Tweets Using Shallow Features and GloVe Vectors for Word Representation</p>
      <h2><a class="btn btn-vis-representation btn-lg btn-download" role="button"
             href="https://www.researchgate.net/publication/301637515_IDINTNU_at_SemEval-2016_Task_6_Detecting_Stance_in_Tweets_Using_Shallow_Features_and_GloVe_Vectors_for_Word_Representation">
        Read
        <span class="small-download-color">at ResearchGate</span></a>
      </h2>
    </div>
  </div>
</div>

