<div class="jumbotron centered">
  <h1>Interactive Exploration of Consensus in Climate Science</h1>

  <div data-bind="visible: $data.progress() < 101"></div>
  <div data-bind="visible: $data.alert() == 1, text: $data.alertMsg()" class="alert alert-danger alert-dismissible"
       role="alert">
  </div>

  <div class="progress" data-bind="visible: $data.progress() < 101">
    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"
         data-bind="style: { width: $data.progressPct() }, attr: { 'aria-valuenow': $data.progress() }">
    </div>
  </div>
  <div id="BarChart"></div>
  <label>
    <input type="checkbox" data-bind="checked: usePercentage" /> Show percentage distribution per year
  </label>
  <p></p>
  <p>
    This single page web aplication presents the result of our research on stance detection in scientific literature.
    The topic of the literature in question is anthropogenic (human-induced) global warming.
    We have based our research ont The Consensus Project (TCP). TCP manually examined 11,944 climate abstracts related
    to anthropogenic global warming and classified the papers' stances. The work of TCP is extensive and
    time consuming. The material presented here is the result of our exploration of automating their work and classify
    stance using machine learning on global warming literature after 2011.
    The findings of TCP have been used as training and testing foundation for our work.

    To read about The Consus Project click the button below.
  </p>
  <p><a class="btn btn-primary btn-lg" href="http://theconsensusproject.com/" role="button">The Consensus Project</a></p>
</div>

<!--
<a>
  <button class="btn btn-sm btn-primary" data-bind="click: getData">test me</button>
</a>

<p> Returning data: <span data-bind="text: showData"></span></p>
-->
