<div class="row">
  <div class="page-header centered">
    <h1> The Data Sets </h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-6 center">
    <div class="jumbotron">
      <h1>The Consensus Project Data</h1>
      <p> 11,940 papers - including meta data</p>
      <h2><a class="btn btn-vis-representation btn-lg btn-download" role="button"
      href="http://folk.ntnu.no/pettefas/data/old_data.json">Download
        <span class="small-download-color">as .json</span></a>
      </h2>
      <p>or</p>
      <h2><a class="btn btn-vis-representation btn-lg btn-download" role="button"
      href="http://folk.ntnu.no/pettefas/data/old_data.csv">Download
        <span class="small-download-color">as .csv</span></a>
      </h2>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 center">
    <div class="jumbotron">
      <h1>Related climate papers from 2011</h1>
      <p> 4,984 papers - including meta data</p>
      <h2><a class="btn btn-vis-representation btn-lg btn-download" role="button"
      href="http://folk.ntnu.no/pettefas/data/new_data.json">
        Download
        <span class="small-download-color">as .json</span></a>
      </h2>
      <p>or</p>
      <h2><a class="btn btn-vis-representation btn-lg btn-download" role="button"
      href="http://folk.ntnu.no/pettefas/data/new_data.csv">
        Download
        <span class="small-download-color">as .csv</span></a>
      </h2>
    </div>
  </div>
</div>
<div class="row page-header"></div>
<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading"><h2>Data details</h2></div>
      <div class="panel-body">
        <p>Note that some data might be missing</p>
      </div>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Label</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr><th>1</th> <td>Abstract</td> <td>Paper abstract.</td></tr>
          <tr><th>2</th> <td>Title</td> <td>Paper title.</td></tr>
          <tr><th>3</th> <td>Language</td> <td>Paper's original language.</td></tr>
          <tr><th>4</th> <td>Organization_info</td> <td>Author affiliation</td></tr>
          <tr><th>5</th> <td>Publisher_info</td> <td>Where the paper was published</td></tr>
          <tr><th>6</th> <td>Document_type</td> <td>Document type</td></tr>
          <tr><th>7</th> <td>Keywords</td> <td>Keywords affiliation to the paper</td></tr>
          <tr><th>8</th> <td>References</td> <td>Number of references</td></tr>
          <tr><th>9</th> <td>Headers</td> <td>Paper header(s)</td></tr>
          <tr><th>10</th> <td>Sub_headers</td> <td>Paper sub-header(s)</td></tr>
          <tr><th>11</th> <td>Subjects</td> <td>Subjects associated with the paper</td></tr>
          <tr><th>12</th> <td>Publication_year</td> <td>Year published</td></tr>
          <tr><th>13</th> <td>Publication_month</td> <td>Month published</td></tr>
          <tr><th>14</th> <td>Publication_length</td> <td>Page count</td></tr>
          <tr><th>15</th> <td>Publication_issue</td> <td>Publication issue</td></tr>
          <tr><th>16</th> <td>Publication_volume</td> <td>Publication volume</td></tr>
          <tr><th>17</th> <td>Publication_type</td> <td>Publication type</td></tr>
          <tr><th>18</th> <td>Authors</td> <td>Author names</td></tr>
          <tr><th>19</th> <td>WOS</td> <td>Web of Science unique identifier</td></tr>
          <tr><th>20</th> <td>_id</td> <td>Paper ID (only in TCP data)</td></tr>
          <tr><th>21</th> <td>Endorsement</td> <td>Paper endorsement (1-7) (only in TCP data)</td></tr>
          <tr><th>22</th> <td>Stance</td> <td>Paper stance, converted from endorsement (only in TCP data)</td></tr>
          <tr><th>23</th> <td>Category</td> <td>Paper category (only in TCP data)</td></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
