<div class="row">
  <div class="page-header centered">
    <h2> The Data Sets </h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-6 center">
    <div class="jumbotron">
      <h1>The Consensus Project Data</h1>
      <p> 11,940 articles - including meta data</p>
      <h2><a class="btn btn-vis-representation btn-lg btn-download" role="button">Download
        <span class="small-download-color">as .json</span></a>
      </h2>
      <p>or</p>
      <h2><a class="btn btn-vis-representation btn-lg btn-download" role="button"
      href="http://folk.ntnu.no/pettefas/test/old_data.csv">Download
        <span class="small-download-color">as .csv</span></a>
      </h2>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 center">
    <div class="jumbotron">
      <h1>Related climate articles from 2011</h1>
      <p> 5,xxx articles - including meta data</p>
      <h2><a class="btn btn-vis-representation btn-lg btn-download" role="button">
        Download
        <span class="small-download-color">as .json</span></a>
      </h2>
      <p>or</p>
      <h2><a class="btn btn-vis-representation btn-lg btn-download" role="button"
      href="http://folk.ntnu.no/pettefas/test/new_data.csv">
        Download
        <span class="small-download-color">as .csv</span></a>
      </h2>
    </div>
  </div>
</div>
