<div id="team" class="container section">
  <div class="page-header centered">
    <h2>The Team</h2>
  </div>


  <div class="row mt centered">
    <div class="col-md-6">
      <img class="img-circle" src="../../assets/profilepics/henrik2.jpeg" width="200" alt="">
      <h4>Henrik Bøhler</h4>
      <p>Master Student, AI</p>
      <div>
        <a title="henriboh@stud.ntnu.no" href="mailto:henriboh@stud.ntnu.no">
          <span class="fa fa-envelope fa-1"></span> email</a> |
        <a href="http://folk.ntnu.no/henriboh/" title="http://folk.ntnu.no/henriboh/">
          <span class="fa fa-globe fa center"></span> web</a>
      </div>
    </div>

    <div class="col-md-6">
      <img class="img-circle" src="../../assets/profilepics/petter.jpg" width="200" alt="">
      <h4>Petter F. Asla</h4>
      <p>Master Student, AI</p>
      <div>
        <a title="pettefas@stud.ntnu.no" href="mailto:pettefas@stud.ntnu.no">
          <span class="fa fa-envelope fa-1"></span> email</a> |
        <a href="http://folk.ntnu.no/pettefas/" title="http://folk.ntnu.no/pettefas/">
          <span class="fa fa-globe fa center"></span> web</a>
      </div>
    </div>
  </div>


  <div class="row mt centered" style="margin-bottom: 75px">
    <h3 style="margin-top: 50px; margin-bottom: 50px">Advisers</h3>
    <div class="col-md-6">
      <h5>Erwin Marsi</h5>
      <div>
        <a title="emarsi@idi.ntnu.no" href="mailto:emarsi@idi.ntnu.no">
          <span class="fa fa-envelope fa-1"></span> email</a> |
        <a href="http://www.ntnu.edu/employees/emarsi" title="http://www.ntnu.edu/employees/emarsi">
          <span class="fa fa-globe fa center"></span> web</a>
      </div>
    </div>
    <div class="col-md-6">
      <h5>Rune Sætre</h5>
      <div>
        <a title="satre@idi.ntnu.no" href="mailto:satre@idi.ntnu.no">
          <span class="fa fa-envelope fa-1"></span> email</a> |
        <a href="https://www.ntnu.edu/employees/satre" title="https://www.ntnu.edu/employees/satre">
          <span class="fa fa-globe fa center"></span> web</a>
      </div>
    </div>
  </div>
</div>
