extends layout

block content
  .container
    +panel("Interactive Exploration of Consensus in Climate Science")
      +article('IECCS')
        p Welcome to the visualization of IECCS.

    .jumbotron
      h1 IECCS
      p Welcome

    p(data-bind="text:welcome")

  .container
    ui-view


  if REQUIRE_VERSION
    script(src="require.js?v=#{REQUIRE_VERSION}")
  if ALMOND_VERSION
    script(src="almond.js?v=#{ALMOND_VERSION}")

  script(src="main.js?v=#{APP_VERSION}")
