include mixins

doctype html
html(lang="en-US")
head
  title IECCS
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
  meta(name="viewport", content="initial-scale=1")
  link(rel="shortcut icon", href="assets/favicon.ico", type="image/x-icon")
  link(href="styles/main.css?v=#{APP_VERSION}", type="text/css", rel="stylesheet")
body
  .navbar.navbar-default.navbar-inverse
    .container
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="#/") IECCS
      .collapse.navbar-collapse
        main-nav
          ul.nav.navbar-nav
            li
              a(href="#/") Home
            li
              a(href="#/") About
          ul.nav.navbar-nav.pull-right
            li
              a.fa.fa-3x.i.fa.fa-github(href="https://github.com/crissdev/spa-template-ko/")

  div.container
    block content


  //include includes/scripts

  //block scripts
  //script(type='text/javascript', src='/javascripts/app.js')

//include includes/footer

